* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.console {
  min-height: 50px;
  min-width: 50px;

  background-color: white;
  position: absolute;
  margin: 15px;
  z-index: 20;
}

dialog {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

dialog::backdrop {
  background-color: white;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

dialog > div {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    padding: 9px 15px;
  }
}
